html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 20px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: rgba(255, 255, 255, 0.1);
}
